* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #F9E17E;
    height: 9%;
    position: relative;
}

h1 {
    text-align: center;
    padding: 20px;

}

.nav-bar {
    background-color: #F9E17E;
    height: 9%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ddd; /* Change la couleur du lien lorsque le curseur passe dessus */
}

.button-container {
    display: flex;
    justify-content: center;
}

p {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

form select, form input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    margin: 10px;
}

form input[type="submit"], .form-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    margin: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

form input[type="submit"]:hover, .form-button:hover {
    background-color: #ddd;
}

form input[type="submit"]:hover {
    background-color: #ddd;
}

.trip-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.trip-image {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: auto;
    border-radius: 5px;
}

.trip-card h1 {
    text-align: center;
}

.trip-card p {
    margin-bottom: 10px;
}

.trip-card h3 {
    color: #666;
    margin-bottom: 0;
}

.trip-card h3:nth-child(5) {
    display: flex;
    justify-content: space-between;
}

.trip-card a, .trip-card input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    margin: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.edit-profile-birth-date{
    opacity: 0.5;
}

/* Centrer le div des utilisateurs */
div#users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    border: #000 1px solid;
}

/* Mettre chaque utilisateur dans un cadre */
div#users .user {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
    width: 50%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(131, 60, 60, 0.1);
}

div#trips {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    border: #000 1px solid;
}

div#articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    border: #000 1px solid;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    p, .trip-card {
        width: 90%;
    }

    form select, form input[type="submit"] {
        width: 100%;
        margin: 10px 0;
    }
}