* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #F9E17E;
    height: 9%;
    position: relative;
}

.logo {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F9E17E;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.logo img {
    height: 60px;
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #F9E17E;
}

.signup {
    background-color: #F9E17E;
    color: #8789FE;
    padding: 8px 15px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.signup:hover {
    background-color: white;
    color: #8789FE;
}

.trip-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.trip-card h1 {
    margin-bottom: 10px;
}

.trip-card p {
    margin-bottom: 10px;
}

.trip-card h3 {
    color: #666;
    margin-bottom: 0;
}